@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using cryptoGamblers.Models
@{ 
    var currentUserId = User.Identity.GetUserId();
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
}
@if (Request.IsAuthenticated)
{  <button id="button" class="btn btn-default loginInput">Queue me up</button>   <div id="loader" class="loader"></div>  
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
      
    <ul class="nav navbar-nav navbar-right menu-items">
        <li>
            <a href="@Url.Action("Index", "Manage", new { area = "" })"><img src="~/Content/uploads/@currentUser.Avatar" id="nav--profile-img"/><p id="nav--profile-name">@currentUser.UserName</p></a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
<script>
    $("#button").click(function () {
        $("#button").css("display", "none"); 
        $("#loader").css("display", "block");
        $.ajax({
            url: "/queue/QueueMe", success: function (result) {
                console.log(result);
            }
        });
    });
</script>
