@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using cryptoGamblers.Models
@{ 
    var currentUserId = User.Identity.GetUserId();
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());
}
@if (Request.IsAuthenticated)

{
    @*<button id="button" class="btn btn-default loginInput">Queue me up</button>   <div id="loader" class="loader"></div>*@  
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right menu-items">
            <li class="nav-game-find">
            <button class="find-game-btn" type="button" id="button">Find match</button><div id="loader" class="loader"></div>
            </li>
            <li class="dropdown">
                @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <a href="#" class="dropdown-toggle" id="nav--profile" data-toggle="dropdown">
                    <img src="~/Content/uploads/@currentUser.Avatar" id="nav--profile-img" />
                    <div>
                        <p id="nav--profile-name">@currentUser.UserName</p>
                        <p id="nav--profile-balance">@currentUser.Balance</p>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My Profile", "UserProfile", "User", new { id = currentUser.UserName }, null)</li>
                    <li><a href="@Url.Action("Index", "Manage", new { area = "" })">Manage Profile</a></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>

            </li>
        </ul>

    }
}

<script>
    $("#button").click(function () {
        $("#button").css("display", "none"); 
        $("#loader").css("display", "block");
        $.ajax({
            url: "/queue/QueueMe", success: function (result) {
                var redirectUrl = "http://localhost:49816/Match/Index?id=" + result.Object.MatchId;
                window.location = redirectUrl;
            }
        });
    });
</script>
