@model cryptoGamblers.Models.RegisterViewModel
@{
    ViewBag.Title = "CreateUser";
}

<div class="jumbotron" style="background-image: url('https://www.linkapedia.com/resources/images/user-background.jpg');">
    <div class="container body-content">
        <div class="text-center">
            <h2 class="jumbo-title">Create new user</h2>
        </div>
    </div>
  <div class="top-background"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 699.08 31"><defs><style>.cls-1,.cls-2{fill:#0c131c;}.cls-2{stroke:#f7931a;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>Untitled-3</title><rect class="cls-1" x="2.41" y="27" width="694" height="4"/><polyline class="cls-2" points="1.41 29.5 28.91 2 670.41 2 697.66 29.25"/></svg></div>
</div>


<div class="container body-content">
    <div class="form-wrapper">
        <div class="form-wrapper__inner">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Avatar, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Avatar, new { @class = "form-control", type = "file", name = "fileupload" })
                </div>
                <input type="submit" class="btn btn-primary" value="Create user" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })

            }
        </div>
    </div>
</div>