@model cryptoGamblers.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@Html.Partial("MiniJumbotron", "Change Password")

<div class="wrapper">
    <div class="container body-content text-center">
        <div class="item"></div>
		<h2 class="first-place-header">Change your current password</h2>
		<hr class="big-hr" />
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal center-text", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control center-field  input-box-black" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control center-field  input-box-black" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control center-field  input-box-black" })
            </div>
            <input type="submit" value="Change password" class="btn btn-default input-button-black" />
            <br />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default input-button-black input-cancel" })

        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
