@model cryptoGamblers.Models.ChangeDescriptionViewModel
@{
    ViewBag.Title = "Change Description";
}
@Html.Partial("MiniJumbotron", "Change Description")

<div class="wrapper">
    <div class="container body-content text-center">
        <div class="item"></div>
        @using (Html.BeginForm("ChangeDescription", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.LabelFor(m => m.ProfileDescription, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.ProfileDescription, new { @class = "form-control center-field input-box-black" })

         <input type="submit" value="Change description" class="btn btn-default input-button-black" />
        }
        <div class="item"></div>
    </div>
</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
