@model cryptoGamblers.Models.ChangeDescriptionViewModel
@{
    ViewBag.Title = "Change Description";
}
@Html.Partial("MiniJumbotron", "Change Description")
@Styles.Render("~/Content/HallOfFame/HallOfFame.css")

<div class="wrapper">
    <div class="container body-content text-center">
        <div class="item"></div>
        @using (Html.BeginForm("ChangeDescription", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

			<h2 class="first-place-header">Change your profile description</h2>
			<hr class="big-hr" />
        @Html.TextAreaFor(m => m.ProfileDescription, new { @class = "form-control center-field input-box-black", @rows = 5 })

         <input type="submit" value="Change description" class="btn btn-default input-button-black" />
        <br />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default input-button-black input-cancel" })
        }
        <div class="item"></div>
    </div>
</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
