@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using cryptoGamblers.Models
@*@model cryptoGamblers.Models.IndexViewModel*@
@{
	ViewBag.Title = "Manage";

	var currentUserId = User.Identity.GetUserId();
	var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
	var currentUser = manager.FindById(User.Identity.GetUserId());

}

<div class="container">
	<h2>@ViewBag.Title.</h2>

	<p class="text-success">@ViewBag.StatusMessage</p>
	<h4>Change your account settings</h4>

	<div class="userprofile-wrapper">
		<div>
			<p><strong>Username:</strong> @User.Identity.GetUserName()</p>
		</div>
		<div>
			<p>
				<strong>Password: </strong>
				@Html.ActionLink("Change your password", "ChangePassword")
			</p>
		</div>
		<div>
			<p><strong>Balance:</strong> @currentUser.Balance @Html.ActionLink("Manage", "ManageBalance")</p>
		</div>
		<div>
			<p><strong>Current Winstreak:</strong> @currentUser.WinStreak</p>
		</div>
		<div>
			<p><strong>Highest Winstreak:</strong> @currentUser.WinStreakMax</p>
		</div>
		<div>
			<p><strong>Profile text:</strong>@currentUser.ProfileDescription</p>
			<p>@Html.ActionLink("Change Description", "ChangeDescription")</p>
		</div>
		<div>
			<p>Avatar:</p>
			<img src="../Content/uploads/@currentUser.Avatar" style="width: 200px" />
			<p>@Html.ActionLink("Change Avatar", "ChangeAvatar")</p>
		</div>
		@using (Html.BeginForm("Delete", "Manage", new { id = User.Identity.GetUserId() }))
			{
			<button class="btn btn-danger btn-xs" type="submit">Delete</button>
			}
	</div>

</div>



