@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using cryptoGamblers.Models
@*@model cryptoGamblers.Models.IndexViewModel*@
@{
    ViewBag.Title = "Manage";

    var currentUserId = User.Identity.GetUserId();
    var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());

}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

@Html.Partial("MiniJumbotron", "Manage Profile")

<div class="container">
    <div class="userprofile-wrapper">
        <div class="manageprofile--editable">
            <a href="@Url.Action("ChangeAvatar", "Manage")">
                <img src="../Content/uploads/@currentUser.Avatar" />
            </a>
            <div class="edit"><a href="@Url.Action("ChangeAvatar", "Manage")"><i class="fa fa-pencil fa-lg"></i></a></div>
        </div>
        <div>
            <h2>@User.Identity.GetUserName()</h2>

			@if(currentUser.ProfileDescription  != null) {
            <div class="manageprofile--editable manageprofile--description">
                <a href="@Url.Action("ChangeDescription", "Manage")">
                    <p class="word-break">@currentUser.ProfileDescription</p>
                </a>
                <div class="edit"><a href="@Url.Action("ChangeDescription", "Manage")"><i class="fa fa-pencil fa-lg"></i></a></div>
            </div>
			} else {
			<div class="manageprofile--editable manageprofile--description">
				<a href="@Url.Action("ChangeDescription", "Manage")">
					<p class="word-break">Update your profile description.</p>
				</a>
				<div class="edit"><a href="@Url.Action("ChangeDescription", "Manage")"><i class="fa fa-pencil fa-lg"></i></a></div>
			</div>
			}

            <br />
            <div class="manageprofile--editable manageprofile--description">
                <a href="@Url.Action("ManageBalance", "Manage")">
                    <p><strong>Balance: </strong><span id="nav--profile-balance">@currentUser.Balance</span></p>
                </a>
                <div class="edit"><a href="@Url.Action("ChangeDescription", "Manage")"><i class="fa fa-plus fa-lg"></i></a></div>
            </div>
            <hr class="userprofile-hr" />
            <p class="manageprofile--changepassword">
                @Html.ActionLink("Change your password", "ChangePassword")
            </p>
            @*<a href="@Url.Action("ManageBalance", "Manage")" class="btn btn-primary">Add More Bitcoins</a>*@
            @using (Html.BeginForm("Delete", "Manage", new { id = User.Identity.GetUserId() }))
            {
                <button class="btn btn-danger btn-xs" type="submit" onclick="return confirm('WARNING: This can not be undone')">Delete Account</button>}
        </div>

    </div>

</div>
