@model cryptoGamblers.Models.ChangeBalanceViewModel
@{
    ViewBag.Title = "Manage Balance";
}


@Html.Partial("MiniJumbotron", "Manage Your Bitcoins")

<div class="wrapper">
    <div class="container body-content text-center">
        <div>
            <div class="item"></div>
            @using (Html.BeginForm("ManageBalance", "Manage", FormMethod.Post, new { @class = "form-horizontal textarea-max", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Add more BTC to your balance</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.AddBalance, new { @class = "form-control center-field input-box-black" })
                    <div>
                        <input type="submit" value="Add to balance" class="btn btn-default input-button-black" />
                    </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
