@using cryptoGamblers.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="bodyContent">
    <div class="loginWrapper">
        
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        <div class="loginForm">
                            <div class="loginFormHeader">
                                <h1 class="loginFormTitle">Login</h1>
                            </div>
                            <div class="LoginFormBody">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control loginInput", @placeholder = "User name" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control loginInput", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <input type="submit" value="Let me in" class="btn btn-default loginInput" />
                                @Html.ActionLink("Register as a new user", "Register", new { @class = "loginInput" })
                            </div>
                        </div>
                    }
        </div>
</div>