@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using cryptoGamblers.Models
@model cryptoGamblers.Models.UserProfileViewModel

@{
    ViewBag.Title = Model.Username;
}


<div class="jumbotron">
    <div class="container body-content">
        <div class="text-center-mini">
            @if (Model.AvatarPath != null)
            {
                <img src="~/Content/uploads/@Model.AvatarPath" class="img-rounded userprofile--avatar" />
            }
            <h2 class="jumbo-title">@Model.Username</h2>
            <p class="word-break">@Model.ProfileDescription</p>
        </div>
    </div>
    <div class="top-background">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 699.08 31">
            <defs>
                <style>
                    .cls-1, .cls-2 {
                        fill: #0c131c;
                    }

                    .cls-2 {
                        stroke: #f7931a;
                        stroke-miterlimit: 10;
                        stroke-width: 4px;
                    }
                </style>
            </defs>
            <title>Untitled-3</title>
            <rect class="cls-1" x="2.41" y="27" width="694" height="4" />
            <polyline class="cls-2" points="1.41 29.5 28.91 2 670.41 2 697.66 29.25" />
        </svg>
    </div>
</div>

<div class="container">
    <div class="userprofile-wrapper">
        <div class="userprofile-item">
        </div>
        <div class="userprofile-item">
            @{if (Model.WinStreak > 0)
                {
                    <h3 class="word-break"><strong>🚨 @Model.Username is currently on a winstreak! 🚨 </strong></h3>
                }
            }
            <div class="userprofile--winstreak-wrapper">
                <div class="userprofile--winstreak-item">
                    <div class="circle" id="circles-1"></div>
                </div>
                <div class="userprofile--winstreak-item">
                    <p id="winstreak" data-winstreak="@Model.WinStreak">
                        <strong>Current winstreak:</strong> @Model.WinStreak
                    </p>
                    <p id="maxWinstreak" data-maxwinstreak="@Model.WinStreakMax">
                        <strong>All-Time Winstreak:</strong> @Model.WinStreakMax
                    </p>
                </div>
            </div>
        </div>
        <div class="userprofile-item">
        </div>
    </div>
</div>



@Scripts.Render("~/bundles/circles")

<script>
    var winstreak = document.getElementById("winstreak").dataset.winstreak;
    var maxWinstreak = document.getElementById("maxWinstreak").dataset.maxwinstreak;

    if (maxWinstreak > 0) {
        var myCircle = Circles.create({
            id: 'circles-1',
            radius: 60,
            value: winstreak,
            maxValue: maxWinstreak,
            width: 14,
            text: function (value) {
                return value + '/' + this.getMaxValue()
            },
            colors: ['rgb(195, 101, 23)', 'rgb(247, 147, 26)'],
            duration: 600,
            wrpClass: 'circles-wrp',
            textClass: 'circles-text',
            valueStrokeClass: 'circles-valueStroke',
            maxValueStrokeClass: 'circles-maxValueStroke',
            styleWrapper: true,
            styleText: false
        });
    }
</script>
