@using cryptoGamblers.Models
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Hall of Fame";
    ViewBag.UserprofileLink = "/User/UserProfile?username=";
}
@Styles.Render("~/Content/HallOfFame/HallOfFame.css")

<div class="jumbotron" style="background-image: url('http://uhceo.com/wp-content/blog/uploads/2010/09/winner_background.jpg');">
    <div class="container body-content">
        <div class="text-center">
            <h2 class="jumbo-title">Top 100 Alltime winners</h2>
        </div>
    </div>
  <div class="top-background"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 699.08 31"><defs><style>.cls-1,.cls-2{fill:#0c131c;}.cls-2{stroke:#f7931a;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>Untitled-3</title><rect class="cls-1" x="2.41" y="27" width="694" height="4"/><polyline class="cls-2" points="1.41 29.5 28.91 2 670.41 2 697.66 29.25"/></svg></div>
</div>

<h2 class="first-place-header"><span>Current </span>1st place</h2>

<div class="container body-content">
    <div class="row row--modified">
        <hr class="big-hr">
        <p class="leaderboard--winner">✨🏆 johnjohn 🏆✨</p>
        <h2 class="leaderboard--winner-streak">With a streak of:</h2>
        <h2 class="leaderboard--winner-streak streak-count">14</h2>
        <hr class="big-hr">
        <h2>Hall of Winstreak Top 100 Fame</h2>
        <p>Showing the top 100 users with the highest winstreak</p>
        @using (Html.BeginForm())
        {
            <p>
                Find by username: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-striped table-borderless">
            <tr class="winstreak-header">
                <th>@Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UserNameSortParm })</th>
                <th>@Html.ActionLink("Winstreak", "Index", new { sortOrder = ViewBag.MaxStreakSortParm })</th>
            </tr>
            @foreach (ApplicationUser user in Model)
            {
                <tr class="winstreak-users">
                    <td>@Html.ActionLink(user.UserName, "UserProfile", "User", new { id = user.UserName }, null) </td>
                    <td>@user.WinStreakMax</td>
                </tr>

            }
        </table>
    </div>
</div>