@model cryptoGamblers.Models.MatchViewModel

@{
    ViewBag.Title = Model.Match.Opponent1 + " Vs. " + Model.Match.Opponent2;

}
<div class="container body-content">
    <h1 class="text-center">@Model.Opponent1.UserName  VS @Model.Opponent2.UserName</h1>
    <div class="three-col">
        <div class="opponent op1">
            <h2 class="bet">Opponent 1</h2>
            <div class="avatar-container">
                @if (Model.Opponent1.Avatar != null)
                {
                    <img src="~/Content/uploads/@Model.Opponent1.Avatar" class="avatar-big" />
                }
                else
                {
                    <div class="no-image"></div>
                }
                <p class="username jumbo-title">@Model.Opponent1.UserName</p>
            </div>
            <p class="bet">In-Wallet: <span class="bitcoin-currency">@Model.Opponent1.Balance</span></p>
            <input type="hidden" id="matchId" value="@Model.Match.MatchId" />
            <input type="hidden" id="isOpponent1" value="@Model.IsOpponent1.ToString()" />
            @if (Model.IsOpponent1)
            {

                <input type="text" class="proposedBet input-box-black" />
                <button type="button" class="btnProposeBet input-button-black">Propose bet</button>
            }
            else
            {
                <input type="text" class="proposedBet input-box-black" disabled />
                <button type="button" class="btnAacceptBet  input-button-black btnHandleBet">Accept</button>
                <button type="button" class="btnDeclineBet  input-button-black btnHandleBet">Decline</button>
            }
        </div>
        <div class="playfield">
            <button type="button" class="btnRoll match-button" disabled>Roll the Dice</button>
            <button type="button" class="resetGame" style="display:none;" disabled>Start over</button>
            <p class="bet">@Model.Opponent1.UserName rolled a:  <span id="Opponent1Face"></span></p>
            <p class="bet">@Model.Opponent2.UserName rolled a:  <span id="Opponent2Face"></span></p>
            <p class="jumbo-title">WINNER:  <span id="Winner"></span></p>
            <p class="CountDown">Game shuts down in:  <span class="counter " id="counter">20</span></p>


            @if (ViewBag.Face != null)
            {
                <p>You got:  <span><text id="Winner"></text></span></p>
            }
            <div class="waving-tom"></div>
        </div>

        <div class="opponent op2">
            <h2 class="bet">Opponent 2</h2>
            <div class="avatar-container">
                @if (Model.Opponent2.Avatar != null)
                {
                    <img src="~/Content/uploads/@Model.Opponent2.Avatar" class="avatar-big" />
                } else
                {
                    <div class="no-image"></div>
                }
                <p class="username jumbo-title">@Model.Opponent2.UserName</p>
            </div>
            <p class="bet">In-Wallet: <span class="bitcoin-currency">@Model.Opponent2.Balance</span></p>
        </div>
    </div>



</div>
@Scripts.Render("~/bundles/GameEnigne")