@model cryptoGamblers.Models.MatchViewModel

@{
    ViewBag.Title = Model.Match.Opponent1 + " Vs. " + Model.Match.Opponent2;

}
<div class="container body-content">
    <h2>Match</h2>
    <div class="three-col">
        <div class="opponent op1">
            <img src="~/Content/uploads/@Model.Opponent1.Avatar" />
            <p class="username">@Model.Opponent1.UserName</p>
            <p class="bet">Betting: <span>@Model.Opponent1.Balance</span></p>
            <input type="hidden" id="matchId" value="@Model.Match.MatchId" />
            <input type="hidden" id="isOpponent1" value="@Model.IsOpponent1.ToString()" />
            @if (Model.IsOpponent1)
            {
              
                <input type="text" class="proposedBet" />
                <button type="button" class="btnProposeBet">Propose bet</button>
            }
            else
            {
                <input type="text" class="proposedBet" disabled/>
                <button type="button" class="btnAacceptBet btnHandleBet">Accept</button>
                <button type="button" class="btnDeclineBet btnHandleBet">Decline</button>
            }
        </div>
        <div class="playfield">
                <button type="button" class="btnRoll" disabled>Roll the Dice</button>
                <button type="button" class="resetGame" style="display:none;"disabled>Start over</button>
            <p>@Model.Opponent1.UserName got:  <span  id="Opponent1Face"></span></p>
            <p>@Model.Opponent2.UserName got:  <span  id="Opponent2Face"></span></p>
            <p>WINNER:  <span id="Winner"></span></p>
            <p class="CountDown">Game shuts down in:  <span class="counter "id="counter">20</span></p>


            @if (ViewBag.Face != null)
            {
                <p>You got:  <span><text id="Winner"></text></span></p>
            }
            <div class="waving-tom"></div>
        </div>

        <div class="opponent op2">
            <img src="~/Content/uploads/@Model.Opponent2.Avatar" />
            <p class="username">@Model.Opponent2.UserName</p>
            <p class="bet">Betting: <span>@Model.Opponent2.Balance</span></p>
        </div>
    </div>



</div>
@Scripts.Render("~/bundles/GameEnigne")
@Styles.Render("~/bundles/match")